.footer {
    font-size: 1rem;
    text-align: center;
    color: var(--text-rodape);
    background: var(--primary-color);  
    height: 8vh; /*8vh*/
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }