.footer {
    font-size: 1rem;
    text-align: center;
    color: var(--text-rodape);
    background: var(--primary-color);  
    height: 8vh;
    margin-top: auto;  /*tenho que ver como fazer para não precisar usar esse comando*/
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }