body{
    background-color: #FFFACD;
}

h1{
    color: #FF7F50;
}

p{
    padding: 10px;
}

:root{
    --background-color: #FFFACD;
    --primary-color: #D17C64;
    --text-color: #FF7F50;
    --background-section: #FFFACD;
    --text-sobre: #471908;
    --text-rodape: #F8F8FF; 
    --font-size-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
  }